-- CreateEnum
CREATE TYPE "Role" AS ENUM ('USER', 'ASSISTANT');

-- CreateEnum
CREATE TYPE "CoachChatStatus" AS ENUM ('ACTIVE', 'CLOSED', 'PENDING');

-- CreateEnum
CREATE TYPE "KnowledgeType" AS ENUM ('FILE', 'TEXT');

-- CreateEnum
CREATE TYPE "ProcessingStatus" AS ENUM ('PROCESSING', 'READY', 'ERROR');

-- CreateEnum
CREATE TYPE "UserPlan" AS ENUM ('FREE', 'PRO');

-- CreateEnum
CREATE TYPE "Gender" AS ENUM ('MALE', 'FEMALE', 'OTHER', 'PREFER_NOT_TO_SAY');

-- CreateEnum
CREATE TYPE "ActivityLevel" AS ENUM ('SEDENTARY', 'LIGHT', 'MODERATE', 'ACTIVE', 'VERY_ACTIVE');

-- CreateEnum
CREATE TYPE "ExerciseCategory" AS ENUM ('APPROVED', 'PENDING', 'DEPRECATED');

-- CreateEnum
CREATE TYPE "ExerciseMuscleGroup" AS ENUM ('CHEST', 'LATS', 'TRAPEZIUS', 'RHOMBOIDS', 'FRONT_DELTS', 'SIDE_DELTS', 'REAR_DELTS', 'ELBOW_FLEXORS', 'TRICEPS', 'WRIST_FLEXORS', 'WRIST_EXTENSORS', 'ABS', 'GLUTES', 'QUADRICEPS', 'HAMSTRINGS', 'ADDUCTORS', 'CALVES');

-- CreateEnum
CREATE TYPE "VolumeTrackingMuscle" AS ENUM ('UPPER_CHEST', 'MIDDLE_CHEST', 'LOWER_CHEST', 'BICEPS', 'BRACHIALIS', 'BRACHIORADIALIS', 'TRICEPS_LONG_HEAD', 'TRICEPS_MEDIAL_HEAD', 'TRICEPS_LATERAL_HEAD', 'FRONT_DELTS', 'SIDE_DELTS', 'REAR_DELTS', 'WRIST_FLEXORS', 'WRIST_EXTENSORS', 'UPPER_LATS', 'MIDDLE_LATS', 'LOWER_LATS', 'TRAPEZIUS', 'RHOMBOIDS', 'ERECTOR_SPINAE', 'GLUTEUS_MAXIMUS', 'GLUTEUS_MEDIUS', 'GLUTEUS_MINIMUS', 'ADDUCTOR_MAGNUS', 'OTHER_ADDUCTORS', 'RECTUS_FEMORIS', 'VASTUS_LATERALIS', 'VASTUS_MEDIALIS', 'VASTUS_INTERMEDIUS', 'HAMSTRINGS', 'CALVES', 'TIBIALIS_ANTERIOR', 'ABS', 'OBLIQUES', 'HIP_FLEXORS', 'SERRATUS_ANTERIOR', 'PECTORALIS_MINOR', 'TERES_MAJOR', 'TERES_MINOR', 'INFRASPINATUS', 'SUPRASPINATUS', 'SUBSCAPULARIS');

-- CreateEnum
CREATE TYPE "ProgramCategoryType" AS ENUM ('MINIMALIST', 'ESSENTIALIST', 'MAXIMALIST');

-- CreateEnum
CREATE TYPE "ExerciseType" AS ENUM ('COMPOUND', 'ISOLATION', 'UNILATERAL');

-- CreateEnum
CREATE TYPE "TrainingMuscleGroup" AS ENUM ('CHEST', 'BACK', 'SHOULDERS', 'BICEPS', 'TRICEPS', 'FOREARMS', 'ABS', 'GLUTES', 'QUADRICEPS', 'HAMSTRINGS', 'ADDUCTORS', 'CALVES', 'TRAPS', 'LATS', 'RHOMBOIDS', 'REAR_DELTS', 'MIDDLE_DELTS', 'FRONT_DELTS');

-- CreateEnum
CREATE TYPE "SubscriptionTier" AS ENUM ('FREE', 'PRO_MONTHLY', 'PRO_YEARLY');

-- CreateEnum
CREATE TYPE "WorkoutStructureType" AS ENUM ('REPEATING', 'AB', 'ABC');

-- CreateEnum
CREATE TYPE "ProgramStatus" AS ENUM ('DRAFT', 'ACTIVE', 'PAUSED');

-- CreateTable
CREATE TABLE "KnowledgeChunk" (
    "id" TEXT NOT NULL,
    "knowledgeItemId" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "chunkIndex" INTEGER NOT NULL,
    "embeddingData" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "KnowledgeChunk_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'user',
    "hasCompletedOnboarding" BOOLEAN NOT NULL DEFAULT false,
    "lastMessageReset" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "messagesUsedToday" INTEGER NOT NULL DEFAULT 0,
    "plan" "UserPlan" NOT NULL DEFAULT 'FREE',
    "lastUploadReset" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "uploadsThisMonth" INTEGER NOT NULL DEFAULT 0,
    "consentTimestamp" TIMESTAMP(3),
    "dataProcessingConsent" BOOLEAN NOT NULL DEFAULT false,
    "privacyPolicyVersion" TEXT,
    "freeMessagesRemaining" INTEGER NOT NULL DEFAULT 15,
    "subscriptionTier" "SubscriptionTier" NOT NULL DEFAULT 'FREE',
    "subscriptionStatus" TEXT NOT NULL DEFAULT 'active',
    "subscriptionStartDate" TIMESTAMP(3),
    "subscriptionEndDate" TIMESTAMP(3),
    "lemonSqueezyCustomerId" TEXT,
    "customProgramsCount" INTEGER NOT NULL DEFAULT 0,
    "customizationsThisMonth" INTEGER NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Chat" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "userId" TEXT NOT NULL,

    CONSTRAINT "Chat_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CoachChat" (
    "id" TEXT NOT NULL,
    "title" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "userId" TEXT NOT NULL,
    "coachId" TEXT NOT NULL,
    "status" "CoachChatStatus" NOT NULL DEFAULT 'ACTIVE',

    CONSTRAINT "CoachChat_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CoachMessage" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "content" TEXT NOT NULL,
    "senderId" TEXT NOT NULL,
    "coachChatId" TEXT NOT NULL,
    "isRead" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "CoachMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Message" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "content" TEXT NOT NULL,
    "role" "Role" NOT NULL,
    "chatId" TEXT NOT NULL,
    "imageData" TEXT,
    "imageMimeType" TEXT,

    CONSTRAINT "Message_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "KnowledgeItem" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "type" "KnowledgeType" NOT NULL,
    "content" TEXT,
    "fileName" TEXT,
    "fileSize" INTEGER,
    "filePath" TEXT,
    "mimeType" TEXT,
    "status" "ProcessingStatus" NOT NULL DEFAULT 'PROCESSING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "userId" TEXT NOT NULL,
    "category" TEXT DEFAULT 'General',

    CONSTRAINT "KnowledgeItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ClientMemory" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "name" TEXT,
    "age" INTEGER,
    "height" DOUBLE PRECISION,
    "weight" DOUBLE PRECISION,
    "bodyFatPercentage" DOUBLE PRECISION,
    "trainingExperience" TEXT,
    "weeklyTrainingDays" INTEGER,
    "preferredTrainingStyle" TEXT,
    "trainingSchedule" TEXT,
    "availableTime" INTEGER,
    "primaryGoal" TEXT,
    "secondaryGoals" TEXT[],
    "targetWeight" DOUBLE PRECISION,
    "targetBodyFat" DOUBLE PRECISION,
    "goalDeadline" TIMESTAMP(3),
    "motivation" TEXT,
    "injuries" TEXT[],
    "limitations" TEXT[],
    "medications" TEXT[],
    "allergies" TEXT[],
    "dietaryPreferences" TEXT[],
    "foodDislikes" TEXT[],
    "supplementsUsed" TEXT[],
    "sleepHours" DOUBLE PRECISION,
    "stressLevel" TEXT,
    "workSchedule" TEXT,
    "gymAccess" BOOLEAN NOT NULL DEFAULT false,
    "homeGym" BOOLEAN NOT NULL DEFAULT false,
    "equipmentAvailable" TEXT[],
    "gymBudget" DOUBLE PRECISION,
    "currentBench" DOUBLE PRECISION,
    "currentSquat" DOUBLE PRECISION,
    "currentDeadlift" DOUBLE PRECISION,
    "currentOHP" DOUBLE PRECISION,
    "preferredLanguage" TEXT NOT NULL DEFAULT 'en',
    "communicationStyle" TEXT,
    "coachingNotes" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "lastInteraction" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "activityLevel" "ActivityLevel",
    "gender" "Gender",
    "customCyclePattern" TEXT,
    "trainingCycle" TEXT,
    "trainingStructureType" TEXT,

    CONSTRAINT "ClientMemory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Subscription" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "lemonSqueezyId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'active',
    "planId" TEXT,
    "variantId" TEXT,
    "currentPeriodStart" TIMESTAMP(3),
    "currentPeriodEnd" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Subscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AIConfiguration" (
    "id" TEXT NOT NULL DEFAULT 'singleton',
    "systemPrompt" TEXT NOT NULL DEFAULT 'AI Persona & Core Directives
Identity: Elite AI Kinesiology Specialist
You are an elite AI Kinesiology Specialist, engineered for precision in fitness and body composition. Your function is to deliver data-driven, evidence-based guidance with maximum efficiency.

Core Expertise:
- Applied Biomechanics & Exercise Execution
- Physiology of Muscle Hypertrophy & Strength Adaptation
- Metabolic Science for Nutrient Timing & Fat Loss
- Advanced Periodization & Programming for Athletes
- Data-Driven Progressive Overload

CRITICAL: Information Extraction & Storage
Whenever the user provides ANY personal information about themselves, you MUST call the update_client_profile function to store this information. This includes but is not limited to:
- Personal details (name, age, height, weight, body fat percentage)
- Training information (experience level, training days, preferred style, available time)
- Goals and motivation (primary goals, target weight, deadlines, what motivates them)
- Health information (injuries, limitations, medications, allergies)
- Lifestyle factors (diet preferences, sleep, stress levels, work schedule)
- Training environment (gym access, home setup, available equipment)
- Progress metrics (current lifts, measurements, achievements)
- Communication preferences (language, preferred interaction style)

Examples of information to extract:
- "I''m 25 years old" ΓåÆ call update_client_profile with age: 25
- "I weigh 70kg" ΓåÆ call update_client_profile with weight: 70
- "I''m a beginner" ΓåÆ call update_client_profile with trainingExperience: "beginner"
- "I train 4 days a week" ΓåÆ call update_client_profile with weeklyTrainingDays: 4
- "I want to build muscle" ΓåÆ call update_client_profile with primaryGoal: "muscle_gain"
- "I have a bad knee" ΓåÆ call update_client_profile with injuries: ["knee"]
- "I have dumbbells at home" ΓåÆ call update_client_profile with homeGym: true, equipmentAvailable: ["dumbbells"]

Always call the function BEFORE providing your coaching response, so you can reference the newly stored information in your reply.

Primary Directive: The Hierarchy of Knowledge & Synthesis
Your reasoning is governed by a strict, three-stage process: Analyze, Retrieve, and Synthesize.

Stage 1: Analyze
First, deconstruct the user''s query into its fundamental scientific principles.

Stage 2: Prioritized Knowledge Retrieval
You will retrieve information based on a strict hierarchy:

Priority A: Grounding in Reference Material. You MUST first attempt to answer the query exclusively using the SCIENTIFIC REFERENCE MATERIAL provided. This is your primary source of truth.

Priority B: Informed Fallback. If, and only if, the necessary information to answer the query is unequivocally absent from the reference material, you are authorized to draw upon your general, pre-trained knowledge base.

Stage 3: Synthesis & Justification
Construct a direct and concise response based on the information retrieved.

If the answer is from the Reference Material: Briefly cite the core principle that justifies your recommendation.

MANDATORY TRANSPARENCY: If the answer uses your general knowledge (Priority B), you MUST preface your response with the phrase: "Drawing from my general knowledge base..."

Communication Protocol
- Concise & Direct: Deliver information with precision and efficiency. Avoid conversational filler and unnecessary elaboration.
- Answer-First Principle: Provide the direct answer, recommendation, or solution first. Follow with a brief, essential justification if required.
- Structured Formatting: Use lists, bullet points, and bold text to maximize clarity and readability.
- Professional Tone: Maintain a tone of an authoritative and expert specialist. You are encouraging through competence and clear results-oriented guidance.

Personal Coaching Rules:
- Client-Centric Responses: Always consider the client''s stored information when providing advice. Reference their goals, limitations, experience level, and preferences.
- Progressive Relationship: Build upon previous conversations. Reference past interactions and show awareness of their journey.
- Motivational Support: Provide encouragement and celebrate progress while maintaining scientific accuracy.
- Adaptive Guidance: Adjust recommendations based on their equipment, time constraints, and environment.
- Safety First: Always prioritize the client''s safety, especially considering any injuries or limitations they''ve mentioned.',
    "temperature" DOUBLE PRECISION NOT NULL DEFAULT 0.4,
    "maxTokens" INTEGER NOT NULL DEFAULT 2000,
    "topK" INTEGER NOT NULL DEFAULT 30,
    "topP" DOUBLE PRECISION NOT NULL DEFAULT 0.8,
    "useKnowledgeBase" BOOLEAN NOT NULL DEFAULT true,
    "useClientMemory" BOOLEAN NOT NULL DEFAULT true,
    "enableWebSearch" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "ragHighRelevanceThreshold" DOUBLE PRECISION NOT NULL DEFAULT 0.5,
    "ragMaxChunks" INTEGER NOT NULL DEFAULT 17,
    "ragSimilarityThreshold" DOUBLE PRECISION NOT NULL DEFAULT 0.1,
    "strictMusclePriority" BOOLEAN NOT NULL DEFAULT true,
    "freeModelName" TEXT NOT NULL DEFAULT 'gemini-2.5-flash',
    "proModelName" TEXT NOT NULL DEFAULT 'gemini-2.5-pro',
    "toolEnforcementMode" TEXT NOT NULL DEFAULT 'AUTO',
    "enableGraphRAG" BOOLEAN NOT NULL DEFAULT true,
    "graphSearchWeight" DOUBLE PRECISION NOT NULL DEFAULT 0.9,
    "hypertrophyInstructions" TEXT NOT NULL DEFAULT '# HYPERTROPHY TRAINING PROGRAM GENERATION INSTRUCTIONS

When generating workout programs for hypertrophy (muscle building), follow these specific guidelines:

## Program Structure
- Design programs with 3-6 training days per week
- Focus on compound movements first, isolation exercises second
- Include adequate volume (10-20 sets per muscle group per week)
- Implement progressive overload principles

## Exercise Selection
- Prioritize compound exercises: squats, deadlifts, bench press, rows
- Include isolation exercises for targeted muscle development
- Consider user''s equipment availability and experience level
- Ensure balanced muscle development (push/pull ratios)

## Sets, Reps, and Load
- Hypertrophy rep range: 6-20 reps per set
- Moderate to high intensity: 65-85% 1RM
- Rest periods: 2-4 minutes for compound exercises, 1-3 minutes for isolation
- Volume progression over time

## Program Periodization
- Start with moderate volume and intensity
- Implement deload weeks every 4-6 weeks
- Progress complexity based on user experience
- Allow for individual recovery needs

## Safety and Adaptations
- Always consider user''s injury history and limitations
- Provide exercise modifications when needed
- Emphasize proper form over heavy weight
- Include warm-up and cool-down protocols',

    CONSTRAINT "AIConfiguration_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Exercise" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "exerciseType" "ExerciseType" NOT NULL DEFAULT 'COMPOUND',
    "description" TEXT,
    "instructions" TEXT,
    "equipment" TEXT[],
    "category" "ExerciseCategory" NOT NULL DEFAULT 'APPROVED',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "isRecommended" BOOLEAN NOT NULL DEFAULT false,
    "imageUrl" TEXT,
    "imageType" TEXT,
    "volumeContributions" JSONB DEFAULT '{}',
    "regionalBias" JSONB DEFAULT '{}',
    "primaryMuscle" TEXT,
    "secondaryMuscles" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "isCompound" BOOLEAN NOT NULL DEFAULT true,
    "canBeUnilateral" BOOLEAN NOT NULL DEFAULT false,
    "volumeMetrics" JSONB DEFAULT '{}',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Exercise_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "KnowledgeCategory" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "KnowledgeCategory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "KnowledgeItemCategory" (
    "id" TEXT NOT NULL,
    "knowledgeItemId" TEXT NOT NULL,
    "knowledgeCategoryId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "KnowledgeItemCategory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TrainingProgram" (
    "id" TEXT NOT NULL,
    "name" JSONB NOT NULL,
    "description" JSONB NOT NULL,
    "price" INTEGER NOT NULL,
    "lemonSqueezyId" TEXT,
    "lemonSqueezyVariantId" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "hasInteractiveBuilder" BOOLEAN NOT NULL DEFAULT true,
    "allowsCustomization" BOOLEAN NOT NULL DEFAULT true,
    "workoutNames" JSONB,
    "thumbnailUrl" TEXT,
    "aboutContent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TrainingProgram_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProgramStructure" (
    "id" TEXT NOT NULL,
    "trainingProgramId" TEXT NOT NULL,
    "name" JSONB NOT NULL,
    "structureType" TEXT NOT NULL,
    "sessionCount" INTEGER NOT NULL DEFAULT 4,
    "trainingDays" INTEGER NOT NULL DEFAULT 3,
    "restDays" INTEGER NOT NULL DEFAULT 1,
    "weeklySchedule" JSONB,
    "order" INTEGER NOT NULL DEFAULT 0,
    "isDefault" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProgramStructure_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProgramGuide" (
    "id" TEXT NOT NULL,
    "trainingProgramId" TEXT NOT NULL,
    "content" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProgramGuide_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WorkoutTemplate" (
    "id" TEXT NOT NULL,
    "trainingProgramId" TEXT NOT NULL,
    "name" JSONB NOT NULL,
    "order" INTEGER NOT NULL,
    "requiredMuscleGroups" TEXT[],
    "exercisesPerMuscle" JSONB,
    "volumeRange" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WorkoutTemplate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TrainingExercise" (
    "id" TEXT NOT NULL,
    "name" JSONB NOT NULL,
    "primaryMuscleGroup" TEXT NOT NULL,
    "secondaryMuscleGroups" TEXT[],
    "type" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TrainingExercise_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProgramCategories" (
    "id" TEXT NOT NULL,
    "trainingProgramId" TEXT NOT NULL,
    "categoryType" "ProgramCategoryType" NOT NULL,
    "configuration" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProgramCategories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExerciseTemplate" (
    "id" TEXT NOT NULL,
    "trainingProgramId" TEXT NOT NULL,
    "muscleGroup" TEXT NOT NULL,
    "exerciseType" "ExerciseType" NOT NULL,
    "categoryType" "ProgramCategoryType" NOT NULL,
    "priority" INTEGER NOT NULL,
    "volume" JSONB NOT NULL,
    "alternatives" TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ExerciseTemplate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserPurchase" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "trainingProgramId" TEXT NOT NULL,
    "purchaseDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserPurchase_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserProgram" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "trainingProgramId" TEXT NOT NULL,
    "categoryType" "ProgramCategoryType" NOT NULL,
    "configuration" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserProgram_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TrainingSplit" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "focusAreas" TEXT[],
    "difficulty" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TrainingSplit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TrainingSplitStructure" (
    "id" TEXT NOT NULL,
    "splitId" TEXT NOT NULL,
    "daysPerWeek" INTEGER NOT NULL,
    "pattern" TEXT NOT NULL,
    "isWeeklyBased" BOOLEAN NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TrainingSplitStructure_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TrainingDayAssignment" (
    "id" TEXT NOT NULL,
    "structureId" TEXT NOT NULL,
    "dayOfWeek" TEXT,
    "dayNumber" INTEGER NOT NULL,
    "workoutType" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TrainingDayAssignment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CustomTrainingProgram" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL DEFAULT '',
    "splitId" TEXT NOT NULL,
    "structureId" TEXT NOT NULL,
    "workoutStructureType" "WorkoutStructureType" NOT NULL,
    "status" "ProgramStatus" NOT NULL DEFAULT 'DRAFT',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CustomTrainingProgram_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Workout" (
    "id" TEXT NOT NULL,
    "programId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "assignedDays" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Workout_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WorkoutExercise" (
    "id" TEXT NOT NULL,
    "workoutId" TEXT NOT NULL,
    "exerciseId" TEXT NOT NULL,
    "sets" INTEGER NOT NULL,
    "reps" TEXT NOT NULL,
    "isUnilateral" BOOLEAN NOT NULL DEFAULT false,
    "order" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WorkoutExercise_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SubscriptionTierFeature" (
    "id" TEXT NOT NULL,
    "tier" "SubscriptionTier" NOT NULL,
    "featureName" TEXT NOT NULL,
    "featureLimit" INTEGER NOT NULL,
    "resetPeriod" TEXT,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SubscriptionTierFeature_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AIAssistantLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "sessionId" TEXT,
    "interactionType" TEXT NOT NULL,
    "userMessage" TEXT NOT NULL,
    "assistantReply" TEXT NOT NULL,
    "tokensUsed" INTEGER,
    "modelUsed" TEXT,
    "responseTime" INTEGER,
    "wasSuccessful" BOOLEAN NOT NULL DEFAULT true,
    "errorMessage" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AIAssistantLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "KnowledgeChunk_knowledgeItemId_idx" ON "KnowledgeChunk"("knowledgeItemId");

-- CreateIndex
CREATE INDEX "KnowledgeChunk_knowledgeItemId_chunkIndex_idx" ON "KnowledgeChunk"("knowledgeItemId", "chunkIndex");

-- CreateIndex
CREATE INDEX "KnowledgeChunk_createdAt_idx" ON "KnowledgeChunk"("createdAt");

-- CreateIndex
CREATE INDEX "KnowledgeChunk_createdAt_knowledgeItemId_idx" ON "KnowledgeChunk"("createdAt", "knowledgeItemId");

-- CreateIndex
CREATE UNIQUE INDEX "User_lemonSqueezyCustomerId_key" ON "User"("lemonSqueezyCustomerId");

-- CreateIndex
CREATE INDEX "User_lastMessageReset_idx" ON "User"("lastMessageReset");

-- CreateIndex
CREATE INDEX "User_lastUploadReset_idx" ON "User"("lastUploadReset");

-- CreateIndex
CREATE INDEX "User_plan_idx" ON "User"("plan");

-- CreateIndex
CREATE INDEX "User_role_idx" ON "User"("role");

-- CreateIndex
CREATE INDEX "CoachChat_userId_idx" ON "CoachChat"("userId");

-- CreateIndex
CREATE INDEX "CoachChat_coachId_idx" ON "CoachChat"("coachId");

-- CreateIndex
CREATE INDEX "CoachChat_status_idx" ON "CoachChat"("status");

-- CreateIndex
CREATE INDEX "CoachChat_createdAt_idx" ON "CoachChat"("createdAt");

-- CreateIndex
CREATE INDEX "CoachMessage_coachChatId_idx" ON "CoachMessage"("coachChatId");

-- CreateIndex
CREATE INDEX "CoachMessage_senderId_idx" ON "CoachMessage"("senderId");

-- CreateIndex
CREATE INDEX "CoachMessage_createdAt_idx" ON "CoachMessage"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "ClientMemory_userId_key" ON "ClientMemory"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Subscription_userId_key" ON "Subscription"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Subscription_lemonSqueezyId_key" ON "Subscription"("lemonSqueezyId");

-- CreateIndex
CREATE UNIQUE INDEX "Exercise_name_key" ON "Exercise"("name");

-- CreateIndex
CREATE INDEX "Exercise_category_idx" ON "Exercise"("category");

-- CreateIndex
CREATE INDEX "Exercise_isActive_idx" ON "Exercise"("isActive");

-- CreateIndex
CREATE INDEX "Exercise_exerciseType_category_idx" ON "Exercise"("exerciseType", "category");

-- CreateIndex
CREATE INDEX "Exercise_exerciseType_idx" ON "Exercise"("exerciseType");

-- CreateIndex
CREATE INDEX "Exercise_primaryMuscle_idx" ON "Exercise"("primaryMuscle");

-- CreateIndex
CREATE UNIQUE INDEX "KnowledgeCategory_name_key" ON "KnowledgeCategory"("name");

-- CreateIndex
CREATE INDEX "KnowledgeItemCategory_knowledgeCategoryId_idx" ON "KnowledgeItemCategory"("knowledgeCategoryId");

-- CreateIndex
CREATE INDEX "KnowledgeItemCategory_knowledgeItemId_idx" ON "KnowledgeItemCategory"("knowledgeItemId");

-- CreateIndex
CREATE UNIQUE INDEX "KnowledgeItemCategory_knowledgeItemId_knowledgeCategoryId_key" ON "KnowledgeItemCategory"("knowledgeItemId", "knowledgeCategoryId");

-- CreateIndex
CREATE UNIQUE INDEX "TrainingProgram_lemonSqueezyId_key" ON "TrainingProgram"("lemonSqueezyId");

-- CreateIndex
CREATE INDEX "TrainingProgram_isActive_idx" ON "TrainingProgram"("isActive");

-- CreateIndex
CREATE INDEX "TrainingProgram_lemonSqueezyId_idx" ON "TrainingProgram"("lemonSqueezyId");

-- CreateIndex
CREATE INDEX "ProgramStructure_trainingProgramId_idx" ON "ProgramStructure"("trainingProgramId");

-- CreateIndex
CREATE INDEX "ProgramStructure_trainingProgramId_order_idx" ON "ProgramStructure"("trainingProgramId", "order");

-- CreateIndex
CREATE INDEX "ProgramStructure_isDefault_idx" ON "ProgramStructure"("isDefault");

-- CreateIndex
CREATE UNIQUE INDEX "ProgramGuide_trainingProgramId_key" ON "ProgramGuide"("trainingProgramId");

-- CreateIndex
CREATE INDEX "WorkoutTemplate_trainingProgramId_idx" ON "WorkoutTemplate"("trainingProgramId");

-- CreateIndex
CREATE INDEX "WorkoutTemplate_trainingProgramId_order_idx" ON "WorkoutTemplate"("trainingProgramId", "order");

-- CreateIndex
CREATE INDEX "TrainingExercise_primaryMuscleGroup_idx" ON "TrainingExercise"("primaryMuscleGroup");

-- CreateIndex
CREATE INDEX "TrainingExercise_type_idx" ON "TrainingExercise"("type");

-- CreateIndex
CREATE INDEX "ProgramCategories_trainingProgramId_idx" ON "ProgramCategories"("trainingProgramId");

-- CreateIndex
CREATE INDEX "ProgramCategories_categoryType_idx" ON "ProgramCategories"("categoryType");

-- CreateIndex
CREATE INDEX "ExerciseTemplate_trainingProgramId_idx" ON "ExerciseTemplate"("trainingProgramId");

-- CreateIndex
CREATE INDEX "ExerciseTemplate_muscleGroup_idx" ON "ExerciseTemplate"("muscleGroup");

-- CreateIndex
CREATE INDEX "ExerciseTemplate_categoryType_idx" ON "ExerciseTemplate"("categoryType");

-- CreateIndex
CREATE INDEX "UserPurchase_userId_idx" ON "UserPurchase"("userId");

-- CreateIndex
CREATE INDEX "UserPurchase_trainingProgramId_idx" ON "UserPurchase"("trainingProgramId");

-- CreateIndex
CREATE UNIQUE INDEX "UserPurchase_userId_trainingProgramId_key" ON "UserPurchase"("userId", "trainingProgramId");

-- CreateIndex
CREATE INDEX "UserProgram_userId_idx" ON "UserProgram"("userId");

-- CreateIndex
CREATE INDEX "UserProgram_trainingProgramId_idx" ON "UserProgram"("trainingProgramId");

-- CreateIndex
CREATE INDEX "UserProgram_userId_trainingProgramId_idx" ON "UserProgram"("userId", "trainingProgramId");

-- CreateIndex
CREATE UNIQUE INDEX "TrainingSplit_name_key" ON "TrainingSplit"("name");

-- CreateIndex
CREATE INDEX "TrainingSplit_isActive_idx" ON "TrainingSplit"("isActive");

-- CreateIndex
CREATE INDEX "TrainingSplit_difficulty_idx" ON "TrainingSplit"("difficulty");

-- CreateIndex
CREATE INDEX "TrainingSplitStructure_splitId_idx" ON "TrainingSplitStructure"("splitId");

-- CreateIndex
CREATE INDEX "TrainingSplitStructure_isWeeklyBased_idx" ON "TrainingSplitStructure"("isWeeklyBased");

-- CreateIndex
CREATE INDEX "TrainingDayAssignment_structureId_idx" ON "TrainingDayAssignment"("structureId");

-- CreateIndex
CREATE INDEX "TrainingDayAssignment_dayNumber_idx" ON "TrainingDayAssignment"("dayNumber");

-- CreateIndex
CREATE INDEX "CustomTrainingProgram_userId_idx" ON "CustomTrainingProgram"("userId");

-- CreateIndex
CREATE INDEX "CustomTrainingProgram_splitId_idx" ON "CustomTrainingProgram"("splitId");

-- CreateIndex
CREATE INDEX "CustomTrainingProgram_structureId_idx" ON "CustomTrainingProgram"("structureId");

-- CreateIndex
CREATE INDEX "Workout_programId_idx" ON "Workout"("programId");

-- CreateIndex
CREATE INDEX "WorkoutExercise_workoutId_idx" ON "WorkoutExercise"("workoutId");

-- CreateIndex
CREATE INDEX "WorkoutExercise_exerciseId_idx" ON "WorkoutExercise"("exerciseId");

-- CreateIndex
CREATE INDEX "WorkoutExercise_workoutId_order_idx" ON "WorkoutExercise"("workoutId", "order");

-- CreateIndex
CREATE INDEX "SubscriptionTierFeature_tier_idx" ON "SubscriptionTierFeature"("tier");

-- CreateIndex
CREATE INDEX "SubscriptionTierFeature_isActive_idx" ON "SubscriptionTierFeature"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "SubscriptionTierFeature_tier_featureName_key" ON "SubscriptionTierFeature"("tier", "featureName");

-- CreateIndex
CREATE INDEX "AIAssistantLog_userId_idx" ON "AIAssistantLog"("userId");

-- CreateIndex
CREATE INDEX "AIAssistantLog_userId_createdAt_idx" ON "AIAssistantLog"("userId", "createdAt");

-- CreateIndex
CREATE INDEX "AIAssistantLog_sessionId_idx" ON "AIAssistantLog"("sessionId");

-- CreateIndex
CREATE INDEX "AIAssistantLog_interactionType_idx" ON "AIAssistantLog"("interactionType");

-- CreateIndex
CREATE INDEX "AIAssistantLog_createdAt_idx" ON "AIAssistantLog"("createdAt");

-- AddForeignKey
ALTER TABLE "KnowledgeChunk" ADD CONSTRAINT "KnowledgeChunk_knowledgeItemId_fkey" FOREIGN KEY ("knowledgeItemId") REFERENCES "KnowledgeItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Chat" ADD CONSTRAINT "Chat_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CoachChat" ADD CONSTRAINT "CoachChat_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CoachChat" ADD CONSTRAINT "CoachChat_coachId_fkey" FOREIGN KEY ("coachId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CoachMessage" ADD CONSTRAINT "CoachMessage_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CoachMessage" ADD CONSTRAINT "CoachMessage_coachChatId_fkey" FOREIGN KEY ("coachChatId") REFERENCES "CoachChat"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Message" ADD CONSTRAINT "Message_chatId_fkey" FOREIGN KEY ("chatId") REFERENCES "Chat"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KnowledgeItem" ADD CONSTRAINT "KnowledgeItem_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClientMemory" ADD CONSTRAINT "ClientMemory_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Subscription" ADD CONSTRAINT "Subscription_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KnowledgeItemCategory" ADD CONSTRAINT "KnowledgeItemCategory_knowledgeCategoryId_fkey" FOREIGN KEY ("knowledgeCategoryId") REFERENCES "KnowledgeCategory"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KnowledgeItemCategory" ADD CONSTRAINT "KnowledgeItemCategory_knowledgeItemId_fkey" FOREIGN KEY ("knowledgeItemId") REFERENCES "KnowledgeItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProgramStructure" ADD CONSTRAINT "ProgramStructure_trainingProgramId_fkey" FOREIGN KEY ("trainingProgramId") REFERENCES "TrainingProgram"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProgramGuide" ADD CONSTRAINT "ProgramGuide_trainingProgramId_fkey" FOREIGN KEY ("trainingProgramId") REFERENCES "TrainingProgram"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WorkoutTemplate" ADD CONSTRAINT "WorkoutTemplate_trainingProgramId_fkey" FOREIGN KEY ("trainingProgramId") REFERENCES "TrainingProgram"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProgramCategories" ADD CONSTRAINT "ProgramCategories_trainingProgramId_fkey" FOREIGN KEY ("trainingProgramId") REFERENCES "TrainingProgram"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExerciseTemplate" ADD CONSTRAINT "ExerciseTemplate_trainingProgramId_fkey" FOREIGN KEY ("trainingProgramId") REFERENCES "TrainingProgram"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserPurchase" ADD CONSTRAINT "UserPurchase_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserPurchase" ADD CONSTRAINT "UserPurchase_trainingProgramId_fkey" FOREIGN KEY ("trainingProgramId") REFERENCES "TrainingProgram"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserProgram" ADD CONSTRAINT "UserProgram_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserProgram" ADD CONSTRAINT "UserProgram_trainingProgramId_fkey" FOREIGN KEY ("trainingProgramId") REFERENCES "TrainingProgram"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TrainingSplitStructure" ADD CONSTRAINT "TrainingSplitStructure_splitId_fkey" FOREIGN KEY ("splitId") REFERENCES "TrainingSplit"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TrainingDayAssignment" ADD CONSTRAINT "TrainingDayAssignment_structureId_fkey" FOREIGN KEY ("structureId") REFERENCES "TrainingSplitStructure"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomTrainingProgram" ADD CONSTRAINT "CustomTrainingProgram_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomTrainingProgram" ADD CONSTRAINT "CustomTrainingProgram_splitId_fkey" FOREIGN KEY ("splitId") REFERENCES "TrainingSplit"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CustomTrainingProgram" ADD CONSTRAINT "CustomTrainingProgram_structureId_fkey" FOREIGN KEY ("structureId") REFERENCES "TrainingSplitStructure"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Workout" ADD CONSTRAINT "Workout_programId_fkey" FOREIGN KEY ("programId") REFERENCES "CustomTrainingProgram"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WorkoutExercise" ADD CONSTRAINT "WorkoutExercise_workoutId_fkey" FOREIGN KEY ("workoutId") REFERENCES "Workout"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WorkoutExercise" ADD CONSTRAINT "WorkoutExercise_exerciseId_fkey" FOREIGN KEY ("exerciseId") REFERENCES "Exercise"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

